# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
terraform.tfvars

# Sensitive files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc